<section class="container">

  <header class="header d-flex">

    <h2 class="ff-inter">My Mural</h2>

    <button routerLink="/thoughts/form" class="botao">
      Add a new thought
    </button>

    <div class="buscar-pensamentos">
      <app-filter
      (filterThoughts)="filterThoughts($event)"
      [page]="page"
      ></app-filter>
    </div>

  </header>

  <div class="mural" *ngIf="thoughts.length > 0, else withoutThoughts">
    <div *ngFor="let thought of thoughts">
      <app-card [thought]="thought"></app-card>
    </div>
  </div>

</section>

<app-load-more-button [thereAreMoreThoughts]="thereAreMoreThoughts" (click)="loadMoreThoughts()"></app-load-more-button>

<ng-template #withoutThoughts>
  <h2 style="text-align: center;margin-top: 10%;">There aren't any thoughts added yet.</h2>
</ng-template>
