<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Add a <br>new thought:</h2>
  </header>
  <form [formGroup]="form">
    <label for="pensamento">Thought</label>
    <input type="textarea" class="input" id="pensamento" formControlName="message" placeholder="Type the tought">
    <div *ngIf=" form.get('message')?.errors?.['required'] && form.get('message')?.touched" class="mensagem__erro">
      Required field
    </div>
    <label for="autoria">Author or source</label>
    <input type="text" class="input" id="autoria" formControlName="author" placeholder="Type the author or source">
    <div *ngIf=" form.get('author')?.errors?.['required'] && form.get('author')?.touched" class="mensagem__erro">
      Required field
    </div>
    <div *ngIf=" form.get('author')?.errors?.['minlength'] && form.get('author')?.touched" class="mensagem__erro">
      Required at least 3 characters
    </div>
    <label for="modelo">Select the card model:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" id="modelo1" value="modelo1" formControlName="model">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 1</span>
        </label>
        Prevew:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/images/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{form.get('message')?.value}}</p>
          <p class="autoria"><b>{{form.get('author')?.value}}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <input type="radio" id="modelo2" value="modelo2" formControlName="model">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 2</span>
        </label>
        Prevew:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/images/modelo2.png" alt="Aspas azul claro">
          <p class="conteudo">{{form.get('message')?.value}}</p>
          <p class="autoria"><b>{{form.get('author')?.value}}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input type="radio" id="modelo3" value="modelo3" formControlName="model">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 3</span>
        </label>
        Prevew:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/images/modelo3.png" alt="Aspas verdes">
          <p class="conteudo">{{form.get('message')?.value}}</p>
          <p class="autoria"><b>{{form.get('author')?.value}}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button (click)="create()" [ngClass]="enableButton()">
        Save
      </button>
      <button (click)="cancel()" class="botao">Cancel</button>
    </div>
  </form>
</section>
